.carousel {
  padding: 107px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #fff;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .slick-prev {
    left: -97px;
  }
  .slick-next {
    right: -97px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    li {
      margin: 0 0.25rem;
    }
    button {
      display: block;
      width: 0.6rem;
      height: 0.6rem;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #2772a5;
      text-indent: -9999px;
    }
    li.slick-active button {
      background-color: #0d2637;
    }
  }
}

@media (max-width: 991px) {
  .carousel {
    &__inner {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .carousel {
    padding: 55px 0;
  }
}

@media (max-width: 575px) {
  .carousel {
    padding: 55px 10px;
  }
}
