.footer {
  height: 630px;
  position: relative;
  &__map {
    iframe {
      display: block;
      height: 630px;
      width: 100%;
      border: 0;
    }
  }
  &__info {
    padding: 50px 0 56px 0;
    position: absolute;
    width: 460px;
    min-height: 270px;
    background: $main-color;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__addr {
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }
  &__phone {
    display: block;
    margin-top: 36px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    &:hover {
      color: #fff;
    }
  }
  &__social {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 27px;
  }
  &__social-item {
    display: block;
    width: 53px;
    height: 52px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 50%;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__info {
      padding: 25px 0 28px 0;
      width: 380px;
      min-height: 240px;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    &__info {
      width: 100%;
      min-height: 210px;
    }
    &__addr {
      font-size: 16px;
    }
    &__phone {
      margin-top: 15px;
      font-size: 17px;
    }
  }
}
