.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 250px;
    img {
      width: 100%;
    }
  }
  &__official {
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    span {
      display: block;
      font-size: 18px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__phone {
    display: block;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__logo {
      width: 150px;
    }
    &__official {
      font-size: 11px;
      span {
        font-size: 15px;
      }
    }
    &__phone {
      font-size: 16px;
    }
  }
}

@media (max-width: 575px) {
  .header {
    &__official {
      display: none;
    }
    &__phone {
      font-size: 14px;
    }
  }
}
