.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url('../../img/main.jpg') center center/cover no-repeat;
  &__wrapper {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__header {
    color: #ffffff;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
  }
  &__subheader {
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }
  &__icons {
    margin-top: 60px;
    width: 425px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    margin-top: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}

@media (max-width: 767px) {
  .promo {
    &__header {
      font-size: 35px;
    }
    &__subheader {
      font-size: 19px;
    }
  }
}

@media (max-width: 575px) {
  .promo {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 65px;
    &__wrapper {
      margin-top: 60px;
      align-items: center;
    }
    &__icons {
      gap: 15px;
      width: 100%;
    }
    &__icon {
      font-size: 12px;
    }
  }
}
